globals:
  device: 'cuda'
  sample_cpu: true
  seed: 42
  n_thread: 1
  n_parallel: 8
  mlp_arch: [1024, 1024]

env:
  name: maze
  max_path_length: 200
  frame_stack: null
  normalizer_type: "off"
  env_kwargs: null

skill:
  name: 'METRA'
  dim_option: 2
  discrete: false
  unit_length: true
  device: ${globals.device}
  dual_reg: true
  dual_slack: 1e-3
  dual_dist_name: 'one'
  dual_dist: null
  dual_lam: 30
  dual_lr: 1e-4
  dual_wd: 0.
  target_traj_encoder: 0.
  slot_pooler:
    lr: 1e-4
    wd: 0.
    name: Fetcher
    kwargs: {}
  trajectory_encoder:
    dim_option: ${skill.dim_option}
    lr: 1e-4
    wd: 0.
    mlp:
      hidden_sizes: ${globals.mlp_arch}
      hidden_nonlinearity: relu
      layer_normalization: false

rl_algo:
  name: 'SAC'
  tau: 1e-3
  scale_reward: 1.
  target_coef: 1.
  discount: 0.99
  gae_lambda: null
  device: ${globals.device}
  slot_pooler:
    name: Transformer
    lr: 1e-4
    wd: 0.
    kwargs: 
      num_layers: 1
      nhead: 4
      dim_feedforward: 192
  policy:
    name: 'option_policy'
    lr: 1e-4
    wd: 0.
    std_lr: ${rl_algo.policy.lr}
    dim_option: ${skill.dim_option}
    distribution_name: TwoHeads
    distribution:
      hidden_sizes: ${globals.mlp_arch}
      layer_normalization: false
      hidden_nonlinearity: tanh
      init_std: 1.
      max_std: 9.
      min_std: 1e-4
      std_parameterization: exp
      normal_distribution_cls: TanhNormal
  critics:
    lr: 1e-4
    wd: 0.
    mlp:
      hidden_sizes: ${globals.mlp_arch}
      hidden_nonlinearity: relu
      layer_normalization: false
  alpha:
    lr: 1e-4
    wd: 0.
    value: 1e-2

replay_buffer:
  gae_lambda: ${rl_algo.gae_lambda}
  discount: ${rl_algo.discount}
  common:
    min_transitions: 10000
    max_transitions: 300000
    batch_size: 256
    discount: ${rl_algo.discount}
  skill: null
  policy: null

trainer_args:
  n_parallel: 4
  traj_batch_size: 8
  skills_per_trajectory: 1
  n_epochs: 100_000
  trans_optimization_epochs: 200
  skill_optimization_epochs: null
  policy_optimization_mult: null
  max_path_length: 200
  transitions_before_training: 10_000
  log_frequency: 50_000
  eval_frequency: 100_000