globals:
  device: 'cuda'
  sample_cpu: true
  seed: 42
  n_thread: 1
  n_parallel: 8
  mlp_arch: [1024, 1024]

env:
  name: maze
  max_path_length: 200
  frame_stack: null
  normalizer_type: "off"
  env_kwargs: null

skill:
  name: 'METRA'
  dim_option: 2
  discrete: false
  unit_length: true
  device: ${globals.device}
  dual_reg: true
  dual_slack: 1e-3
  dual_dist_name: 'one'
  dual_dist: null
  dual_lam: 30
  dual_lr: 1e-4
  trajectory_encoder:
    slot_extractor:
      name: null
    slot_pooler:
      name: null
    dim_option: ${skill.dim_option}
    hidden_sizes: ${globals.mlp_arch}
    lr: 1e-4
    nonlinearity: relu
    init_std: 1
    min_std: 1e-6
    max_std: null
    std_parameterization: 'exp'
    bias: True
    spectral_normalization: false

rl_algo:
  name: 'PPO'
  discount: 0.99
  gae_lambda: 0.95
  norm_adv: true
  clip_coef: 0.2
  clip_vloss: true
  ent_coef: 0.0
  vf_coef: 0.5
  max_grad_norm: 0.5
  target_kl: 0.025
  device: ${globals.device}
  policy:
    slot_extractor:
      name: null
    slot_pooler:
      name: null
    name: 'option_policy'
    lr: 1e-4
    dim_option: ${skill.dim_option}
    hidden_sizes: ${globals.mlp_arch}
    layer_normalization: false
    nonlinearity: tanh
    distribution:
      name: GlobalStd
      starting_logstd: 0.
      max_logstd: 2.
      type: TanhNormal
  value:
    slot_extractor:
      name: null
    slot_pooler:
      name: null
    lr: 1e-4
    dim_option: ${skill.dim_option}
    hidden_sizes: ${globals.mlp_arch}
    nonlinearity: relu
    layer_normalization: false

replay_buffer:
  gae_lambda: ${rl_algo.gae_lambda}
  discount: ${rl_algo.discount}
  common: null
  skill:
    min_transitions: 25000
    max_transitions: 2000000
    batch_size: 2048
  policy:
    min_transitions: null
    max_transitions: 25000
    batch_size: 2048

trainer_args:
  n_parallel: 4
  traj_batch_size: 40
  n_epochs: 100_000
  trans_optimization_epochs: null
  skill_optimization_epochs: 50
  policy_optimization_mult: 1
  max_path_length: 200
  transitions_before_training: null
  log_frequency: 50_000
  eval_frequency: 200_000