globals:
  device: 'cuda'
  sample_cpu: true
  seed: 43
  n_thread: 1
  n_parallel: 8
  mlp_arch: [1024, 1024]

env:
  name: maze
  max_path_length: 200
  frame_stack: null
  normalizer_type: "off"
  env_kwargs: null

skill:
  name: 'METRA'
  dim_option: 2
  discrete: false
  unit_length: true
  device: ${globals.device}
  dual_reg: true
  dual_slack: 1e-3
  dual_dist_name: 'one'
  dual_dist: null
  dual_lam: 30
  dual_lr: 1e-4
  dual_wd: 0.
  slot_pooler:
    lr: 1e-4
    wd: 0.
    name: Identity
    kwargs: {}
  trajectory_encoder:
    dim_option: ${skill.dim_option}
    lr: 1e-4
    wd: 0.
    mlp:
      hidden_sizes: ${globals.mlp_arch}
      hidden_nonlinearity: relu
      layer_normalization: false

rl_algo:
  name: 'PPO'
  discount: 0.99
  gae_lambda: 0.95
  norm_adv: true
  clip_coef: 0.2
  clip_vloss: false
  ent_coef: 0.
  vf_coef: 0.5
  max_grad_norm: 0.5
  target_kl: null
  device: ${globals.device}
  slot_pooler:
    name: Identity
    lr: 1e-3
    wd: 0.1
    kwargs: {}
  policy:
    name: 'option_policy'
    lr: 1e-4
    wd: 0.1
    distribution_name: GlobalStd
    distribution:
      hidden_sizes: ${globals.mlp_arch}
      hidden_w_init:
        name: orthogonal
      output_w_init:
        name: orthogonal
        gain: 0.01
      layer_normalization: false
      hidden_nonlinearity: tanh
      init_std: 1.
      max_std: 5.
      min_std: 1e-4
      std_parameterization: exp
      normal_distribution_cls: PPOTanhNormal
  value:
    lr: 1e-4
    wd: 0.1
    mlp:
      hidden_sizes: ${globals.mlp_arch}
      hidden_w_init:
        name: orthogonal
      output_w_inits:
        name: orthogonal
        gain: 1.
      hidden_nonlinearity: tanh
      layer_normalization: false

replay_buffer:
  gae_lambda: ${rl_algo.gae_lambda}
  discount: ${rl_algo.discount}
  common:
    min_transitions: 10000
    max_transitions: 300000
    batch_size: 256
    discount: ${rl_algo.discount}

trainer_args:
  n_parallel: 4
  traj_batch_size: 8
  skills_per_trajectory: 1
  n_epochs: 100_000
  trans_optimization_epochs: 300
  policy_optimization_epochs: 4
  policy_batch_size: 256
  max_path_length: 200
  transitions_before_training: 50_000
  log_frequency: 50_000
  eval_frequency: 200_000